@model IEnumerable<Financeiro.Models.Curso>

@{
    ViewBag.Title = "Cursos";
}

<h2>Cursos</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <input type="button" class="btn btn-default" value="Voltar" onclick="location.href='@Url.Action("Create", "Curso")'" />
        </div>

        <div class="col-md-6">
            <p style="float: right">
                <input type="button" class="btn btn-default" value="Tipos" onclick="location.href='@Url.Action("Create", "Tipo")'" />
            </p>
        </div>
    </div>
</div><br>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo.Tipo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCurso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo.Tipo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCurso)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.idCurso }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.idCurso })
        </td>
    </tr>
}

</table>
